dl {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: flex-start;
}

@media (max-width: 860px) {
  dl {
    justify-content: center;
  }
}

 dl div {
  width: 20rem;
  height: 10rem;
  background: #eee;
  margin: 1rem;
  padding: 1rem;
  box-sizing: border-box;
  border-radius: 8px;
  display: flex;
  flex-flow: column;
} 