form {
  margin-top: 2rem;
} 

form fieldset {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  border: 1px solid #eee;
  border-radius: 4px;

  padding: 2rem 2rem 3rem 2rem;
  position: relative;
  gap: 1rem;
}

form fieldset h2 {
  font-size: 0.8rem;
  position: absolute;
  top: -2.7rem;
  padding: 0.5rem 1rem;
  left: 0;
  text-transform: uppercase;
  color: #bdc3c7;
}

#upload-input {
  display: none;
}

form fieldset label[for="upload-input"] {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  padding: 0.5rem;
  border-radius: 4px;
  color: var(--text-color);
  cursor: pointer;
  position: absolute;
  top: -2.5rem;
  right: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

form fieldset label[for="upload-input"]:hover {
  background: #eee;
}

form fieldset#card-metadata {
  display: flex;
  flex-wrap: wrap;
  margin-top: 4rem;
  border-top-right-radius: 0px;
  align-items: flex-start;
}

form fieldset#card-metadata .card-input-wrapper {
  flex: 0 0 15rem;
  display: flex;
  flex-direction: column;
  padding: 1rem;

  /* so when the UI gets small, the element stays horizontall centered */
  margin-left: auto;
  margin-right: auto;
}

form fieldset#card-metadata .card-input-wrapper > :not(:last-child) {
  margin-bottom: 3rem;
}

form fieldset#card-metadata dl {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}

.input-wrapper {
  position: relative;
}

.input-wrapper input {
  outline: none; 
  order: 1;
  font-size: 1.2rem;
  padding-left: 0.5rem;
  border-bottom: 1px solid #df5e5e;
}

.input-wrapper input:focus {
  border-color: #27ae60;
}

.input-wrapper label {
  order: 2;
  position: absolute;
  font-size: 1.2rem;
  transition: all 0.3s;
  left: 0.5rem;
  bottom: 0.5rem;
  color: #bdc3c7;
}








.input-wrapper input:focus + label,
.input-wrapper input:not(:placeholder-shown) + label {
  transform: translateY(1.2rem) scale(0.8);
  left: 0;
  bottom: -0.5rem;
  color: #27ae60;
}

dl > .card-wrapper,
#empty-placeholder {
  width: 20rem;
  height: 10rem;
  background: #eee;
  padding: 1rem;
  box-sizing: border-box;
  border-radius: 8px;
  margin: 1rem auto;
}

#empty-placeholder {
  display: flex;
  border: 4px dashed #bdc3c7;
  color: #7f8c8d;
  justify-content: center;
  align-items: center;
  margin-top: 0 !important;
}
